.output-panel{

background:#0f172a;

color:white;

border-radius:15px;

padding:20px;

min-height:650px;

display:flex;

flex-direction:column;

box-shadow:0 8px 25px rgba(0,0,0,.25);

}

.terminal-header{

display:flex;

justify-content:space-between;

align-items:center;

margin-bottom:20px;

border-bottom:1px solid rgba(255,255,255,.15);

padding-bottom:12px;

}

.terminal-header h3{

font-size:18px;

}

.terminal-header span{

color:#22c55e;

font-weight:bold;

}

.terminal{

flex:1;

overflow:auto;

background:#111827;

padding:20px;

border-radius:10px;

font-size:14px;

line-height:1.6;

color:#22c55e;

font-family:Consolas, monospace;

white-space:pre-wrap;

}

.clear-btn{

margin-top:18px;

padding:12px;

background:#2563eb;

color:white;

border:none;

border-radius:8px;

cursor:pointer;

font-weight:bold;

transition:.3s;

}

.clear-btn:hover{

background:#1d4ed8;

}